@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Georgia, serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  overflow-x: hidden;
  color: #f4f4f4;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: rgb(var(--foreground-rgb));
  background: #202124;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

@layer components {

  .btnSearch {
    @apply bg-gray-600 bg-opacity-30 rounded-md text-sm text-white  border border-transparent hover:border-gray-400 focus:outline-none active:border-gray-400 hover:shadow-md w-36 h-10 transition-shadow hover:text-grey-200;
  }

  .hover-transition-grey {
    @apply hover:text-grey-200 transition-colors cursor-pointer;
  }

  .btn-blue {
    @apply bg-sky-700 text-white p-2 rounded-lg w-36 text-center
  }

  .svg-default {
    @apply text-white transition-colors hover:text-grey-200 cursor-pointer
  }

  .google-app {
    @apply flex flex-col items-center justify-center
  }

  b {
    @apply text-red-400
  }

}